.time {
    font-size: 18px;
    color: var(--bg-dark);
    margin-bottom: 9px;
}

.header {
    font-size: 16px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}
.subTitle {
    color: var(--t-dark-secondary);
}

.duplicate {
  font-size: 15px;
  color: var(--t-dark-secondary);
  margin-top: 12px;
  margin-bottom: 10px;
}
.duplicate:empty {
  margin: 0;
  display: none;
}

.movieSmall {
  background: var(--a-blue-base);
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 8px;
}
.movieSmall:active {
  background: rgba(83, 107, 243, 0.1);
}
.movieSmall:last-child {
  padding-bottom: 6px;
}
.movieTitle {
  composes: text from "../../../app/app.style.module.css";
  color: var(--bg-dark);
  margin-bottom: 8px;
}

.movieInfo {
  color: #BFB79F !important;
  margin-bottom: 4px;
}

.snack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  background-color: var(--bg-dark);
  border-radius:var(--radius-large);
  height: 48px;
  box-sizing: border-box;
  color: var(--mineral);
  margin: 21px 0;
  animation: fadeOut ease-out 5s both;
}

.editButton {
  margin-bottom: 8px;
}

.openButton {
  padding-left: 0;
  text-align: left;
  justify-content: flex-start;
}

.openButton::after {
  font-family: monospace;
  font-weight: 100;
  position: absolute;
  margin-top: 10px;
  right: 20px;
  content: ">";
  font-size: 20px;
}

@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: .3;
  }
}
