.time{
    color: var(--medium-blue);
    margin-bottom: 9px;
}

.header{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}


.duplicate{
  margin-top: 12px;
  margin-bottom: 10px;
  composes: text from "../../../app/app.style.module.css";
}
.duplicate:empty{
  margin: 0;
  display: none;
}

.movieSmall{
  user-select: none;
  -webkit-user-select: none;
  background: #536BF312;
  /*background: color-mix(in oklab, var(--purple), transparent 93%);*/
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
  padding: 12px 16px;
  box-sizing: border-box;
  margin: 4px -8px;
  border-radius: 16px;
}
.movieSmall:active{
  background: rgba(83, 107, 243, 0.1);
}
.movieSmall:last-child{
  padding-bottom: 6px;
}
.movieTitle{
  composes: text from "../../../app/app.style.module.css";
  color: var(--medium-blue);
}

.movieInfo{
  color: #646995;
}

.snack{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  background-color: var(--ins-night);
  border-radius:var(--radius);
  height: 48px;
  box-sizing: border-box;
  color: var(--electric-blues);
  margin: 21px 0;
  animation: fadeOut ease-out 5s both;
}

.editButton {
  margin-bottom: 8px;
}

@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: .3;
  }
}
