/* Webfont: PTRootUIWeb-Medium */@font-face {
    font-family: 'PT Root UI Medium';
    src: url('PT_Root_UI_Medium.eot'); /* IE9 Compat Modes */
    src: url('PT_Root_UI_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('PT_Root_UI_Medium.woff') format('woff'), /* Modern Browsers */
         url('PT_Root_UI_Medium.woff2') format('woff2'), /* Modern Browsers */
         url('PT_Root_UI_Medium.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

