.container {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.containerClose{
  composes: container;
  pointer-events: none;
}
.shadow{
}
.shadow:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 30%;
  background: var(--ins-night);
  transition: opacity .3s ease-out;
}

.globalShadow {
  composes: shadow;
}

.localShadow {
  box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.05);
}

.containerClose:before{
  opacity: 0;
}

.sheet{
  display: flex;
  flex-direction: column;
  background: var(--cold-white);
  position: absolute;
  width: 100%;
  /*border-radius: 24px 24px 0 0;*/
  padding: 20px 16px 84px 16px;
  box-sizing: border-box;
  transition: bottom .3s ease-out, height .3s ease-out;
  overflow: auto;
  color: var(--ins-night);
  bottom: 0;
  height: 100%;
  margin-top: -20px;
  box-sizing: border-box;
  pointer-events: auto;
  border-radius: var(--radius) var(--radius) 0 0;
}

.containerOpen .sheet{
  height: 100%;
  border-radius: 0;
}

.containerClose .sheet{
  bottom: -100%;
}
