.element:hover {
  transform: scale(1.4);
  transition: transform ease .3s;
}

:global(.hoverOnly) {
  display: none;
}

.element:hover :global(.hoverOnly) {
  display: initial;
}

.elementText {
  font-size: 13em !important;
  line-height: 15em !important;
  text-anchor: middle;
  font-weight: bold;
}

.selected {
  transform: scale(1.4);
}


:global(.notSelectedOnly) {
  display: initial;
}

.selected :global(.notSelectedOnly)  {
  display: none;
}

:global(.selectedOnly) {
  display: none;
}

.selected :global(.selectedOnly)  {
  display: initial;
}

.selected :global(.hoverOnly) {
  display: initial;
}

.selected .hoverCircle {
  fill: #A226;
}


.zone{
  fill: #5C4A2E40;
  stroke: #5C4A2E;
  stroke-width: 3;
  stroke-dasharray: 8;
  vector-effect: non-scaling-stroke;
}
.zoneSelected {
  composes: zone;
}
.zoneRect{
  fill: var(--cold-white);
}
.zoneText{
  fill: var(--medium-blue);
  font-weight: bold;
}

.zoneSelectedRect{
  fill:var(--ch-orange);
}
.zoneSelectedText{
  composes: zoneText;
  fill: var(--cold-white);
}

.road{
  stroke: var(--bonfire-light);
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke-width: 1;
  stroke-dasharray: 8 16;
}
