.weatherCard {
  height: 56px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-size: 8px;
}

.date > div:first-child {
  color: var(--t-dark);
}

.date > div:last-child {
  font-size: 12px;
}

.temp {
  font-size: 12px;
  color: var(--t-dark);
}

.expandedWeatherCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  color: var(--t-dark-secondary);
  height: max-content;
  flex-direction: column;
}

.dayInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dayData {
  display: flex;
  flex-direction: column;
}

.day {
 margin: 0;
 font-size: 12px;
 font-weight: 300;
 text-align: start;
  color: var(--t-dark-secondary);
}

.temperature {
  margin: 0;
  font-size: 32px;
  color: var(--t-dark);
}

.condition {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.additionalInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.felt {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 12px;
}

.wind {
 display: flex;
 flex-direction: column;
 gap: 2px;
 font-size: 12px;
}

.timesOfDay {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.timeOfDay {
  height: 90;
  border-radius: 8px;
  background: var(--bg-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--t-dark);
  padding: 8px 4px;
  font-size: 12px;
  text-align: center;
}
