.layoutWrapper{
  overflow-x: hidden;
  max-width: 440px;
  min-height: 100%;
  padding: 54px 16px 80px 16px;
}
.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.full {
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: row wrap;
  gap: 20px;
}

.header > h1 {
  color: var(--medium-blue);
}

.clear {
  display: block;
  padding: unset;
  box-sizing: unset;
}

.light {
  background: var(--cold-white);
}

.dark {
  background: var(--ins-night);
}

.withTapbar {
  padding-bottom: 80px;
}
