.chip{
  /*padding: 8px 16px;*/
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  align-items: center;
  background: transparent;
  /*color: #808080;*/
  cursor: pointer;
  white-space: nowrap;
}

.chipActive {
  composes: chip;
  background: #6BBDB0;
  color: white;
}
