.page {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 24px;
}

.filters {
  margin-bottom: 24px;
}

.addNoteBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.notesList {
  padding-bottom: 20px;
}
