.container{
    max-width: 440px;
    background: var(--ins-night);
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.mainPage{
    height: auto;
    min-height: 100%;
    color: var(--cold-white);
}

.mainPage :global(#logo){
  margin: 54px calc(50% - 93px) 20px;
}

.menuBtn{
  padding: 16px 32px !important;
  /* MenuGradient */
  background: linear-gradient(253.29deg, #FE4BA9 38.17%, #FF6E76 62.03%, #FFC576 89.64%);
  /* Pink Shadow */
  box-shadow: 0px 4px 12px rgba(248, 192, 194, 0.14), -4px -4px 12px rgba(248, 192, 194, 0.14), 0px 4px 12px rgba(248, 192, 194, 0.14);
}

.menu{
  position: absolute;
  height: 100%;
  background: var(--ins-night);
  bottom: -100vh;
  transition: bottom .3s ease-out;
  display: flex;
  flex-direction: column;
  gap: 42px;
  justify-content: center;
  z-index: 2;
  opacity: 0;
}
.menuOpen{
  composes: menu;
  bottom: 0;
  opacity: 1;
}

.mainCard {
  height: 30vw;
  max-height: 200px;
}
