.card {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.noteText {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.bookmarkIcon {
  position: absolute;
  width: 14px;
  height: 16px;
  top: 22px;
  right: 22px;
  color: var(--pink);
}
