.button {
  height: 48px;
  padding-bottom: 16px;
  border-radius: var(--radius);
  border: none;
  color: var(--t-dark);
  background-color: var(--a-main-base);
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  gap: 8px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-out;

  font-family: "Heading", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  user-select: none;

  text-transform: lowercase;
}

.button:active {
  background-color: var(--a-main-pressed);
}
.button:disabled {
  background-color: var(--a-main-disabled);
}

.danger {
  background-color: var(--a-error-base);
}
.danger:active {
  background-color: var(--a-error-pressed);
}
.danger:disabled {
  background-color: var(--a-error-disabled);
}

.ghostDark {
  color: var(--a-dark-base);
  background-color: transparent;
  border: 1px solid var(--a-add-border);
}
.ghostDark:active {
  color: var(--a-dark-pressed);
  border-color: var(--a-dark-pressed);
}
.ghostDark:disabled {
  color: var(--a-dark-disabled);
  border-color: var(--a-dark-disabled);
}

.ghost {
  color: var(--a-main-base);
  background-color: transparent;
  border: 1px solid var(--a-main-base);
}
.ghost:active {
  color: var(--a-main-pressed);
  border-color: var(--a-main-pressed);
}
.ghost:disabled {
  color: var(--a-main-disabled);
  border-color: var(--a-main-disabled);
}
.textDanger {
  color: var(--a-error-base);
  background-color: transparent;
}
.textDanger:active {
  color: var(--a-error-pressed);
}
.textDanger:disabled {
  color: var(--a-error-disabled);
}

.text {
  border: none;
  background: transparent;
  color: var(--a-main-base);
  font-size: 40px;
  margin-top: -12px;
}

.buttonsBar {
  background: transparent;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 2;
}

.close {
  width: 40px;
  height: 40px;
  background-color: var(--a-green-base);
  color: var(--bg-dark);
  font-size: 12px;
  composes: button;
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 0px;
  padding: 11px;
  border-radius: 8px;
}

.closeWhite {
  composes: close;
  color: var(--cold-white);
  border-color: var(--cold-white);
}

.closeStatic {
  position: static;
}

.left {
  left: 16px;
  top: 0;
  bottom: 0;
  flex-direction: column;
}
.left > button {
  padding-bottom: 0;
}
.right {
  right: 16px;
  top: 0;
  bottom: 0;
  flex-direction: column;
}

.bottom {
  flex-flow: row nowrap;
  bottom: 20px;
  left: 16px;
  right: 16px;
  gap: 1em;
}
.bottom.withTapbar {
  bottom: 80px;
}
.fill {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 16px 20px;
  background: var(--cold-white);
}
.buttonOnlineContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.buttonOnlineNote {
  text-align: center;
}

.buttonOnline {
  width: 100%;
}

.searchButton {
  position: fixed;
  bottom: 80px;
  left: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding-bottom: 0;
}
