.button {
  padding: 16px;
  border-radius: var(--radius);
  text-transform: uppercase;
  border: none;
  color: var(--white);
  background-color: grey;
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  gap: 8px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-out;

  font-family: "Cygre Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}

.button:hover {
  outline: none;
}
.button:active {
  box-shadow: 0 0 8px rgba(21, 37, 106, 0.6);
}
.button:focus {
  outline: none;
}
.button:disabled {
  filter: opacity(0.3);
}
.selected {
}

.blue {
  background: var(--electric-blues);
  color: var(--white);
}
.disco {
  background: var(--cyber-disco);
}
.frame {
  background: transparent;
  color: var(--medium-blue);
  border: 2px solid var(--medium-blue);
}
.vivid {
  background: var(--vivid-gradient);
}
.orange {
  background: var(--ch-orange);
}
.frameOrange {
  composes: frame;
  color: var(--ch-orange);
  border-color: var(--ch-orange);
  background: var(--cold-white);
}

.buttonsBar {
  background: transparent;
  display: flex;
  position: fixed;
  pointer-events: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 2;
}
.buttonsBar > * {
  pointer-events: initial;
}

.close {
  font-size: 12px;
  composes: frame;
  composes: button;
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 0px;
  padding: 11px;
}

.closeWhite {
  composes: close;
  color: var(--cold-white);
  border-color: var(--cold-white);
}

.closeStatic {
  position: static;
}

.left {
  left: 16px;
  top: 0;
  bottom: 0;
  flex-direction: column;
}
.right {
  right: 16px;
  top: 0;
  bottom: 0;
  flex-direction: column;
}
.bottom {
  flex-flow: row nowrap;
  bottom: 20px;
  left: 16px;
  right: 16px;
  gap: 1em;
}
.bottom.withTapbar {
  bottom: 80px;
}
.fill {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 16px 20px;
  background: var(--cold-white);
}

.text {
  border: none;
  width: 100%;
  background: none;
  color: var(--medium-blue);
  /* Button */

  font-family: "Cygre Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.borderVivid {
  border: none;
  position: relative;
  background: var(--vivid-gradient);
  color: var(--ins-night);
}

.borderVivid:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  margin: 2px;
  border-radius: 22px;
  background: var(--cold-white);
}

.borderVivid > * {
  z-index: 1;
}

:global(.dark) .borderVivid {
  color: var(--cold-white);
}

:global(.dark) .borderVivid:before {
  background: var(--ins-night);
}

.textSimple {
  background: none;
}

.buttonOnlineContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.buttonOnlineNote {
  text-align: center;
}

.buttonOnline {
  width: 100%;
}
