.age{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 8px;

    background: #CFBAFF;
    border-radius: var(--radius);

    /* Inside auto layout */

    font-style: normal;
    font-weight: 510;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;

    color: var(--medium-blue);
}

.age12{
    background: #CFBAFF;
}

.age18{
    background: #FAC5C0;
}
