.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  border-radius: var(--radius);
  max-width: 440px;
  box-sizing: border-box;
  overflow: hidden;
  transition: background ease-out 300ms;
}

.bgPurple:not(.borderVivid) {
  background: var(--purple-gradient);
}
.bgWhite:not(.borderVivid) {
  background: white;
}
.bgNight:not(.borderVivid) {
  background: var(--ins-night);
}

.bgSoft {
  background: var(--soft-gradient);
}
.bgSoft:active{
  box-shadow: 0px 0px 8px 0px #1C257366;
}
.bgSoft:hover{
  /*box-shadow: 0px 0px 8px 0px #1C257366;*/
}

.bgSoft2 {
  background: var(--soft-gradient2);
}

.bgColdWhite {
  background: var(--cold-white);;
}

.bgVivid{
  background: var(--vivid);
}

.borderNone,
.border{
    --borderWidth: 2px;
    border: solid var(--borderWidth) transparent;
}

.borderBlue {
  composes: border;
  border-color: var(--medium-blue);
}
.borderYellow {
  composes: border;
  border-color: var(--bonfire-light);
}
.borderVivid{
  composes: border;
  border-color: var(--vivid);
}
.borderVividGradient {
  composes: borderVivid from "../buttons/button.module.css";
}
.borderVividGradient.bgNight:before{
  background-color: var(--ins-night) !important;
}

.borderLeftCloud {
  border-bottom-left-radius: 0;
}

.borderInactiveGrey{
  composes: border;
  border-color: var(--inactive-grey);
  border-width: 1px;
}
