.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  border-radius: var(--radius);
  max-width: 440px;
  box-sizing: border-box;
  overflow: hidden;
}

.bgPurple {
  background: var(--purple-gradient);
}
.bgWhite {
  background: white;
}

.bgSoft {
  background: var(--soft-gradient);
}

.bgColdWhite {
  background: var(--cold-white);;
}

.bgVivid{
  background: var(--vivid-gradient);
}

.borderNone,
.border{
    --borderWidth: 2px;
    border: solid var(--borderWidth) transparent;
}

.borderBlue {
  composes: border;
  border-color: var(--medium-blue);
}
.borderYellow {
  composes: border;
  border-color: var(--bonfire-light);
}
.borderVivid {
  composes: borderVivid from "../buttons/button.module.css";
}

.borderLeftCloud {
  border-bottom-left-radius: 0;
}

.borderInactiveGrey{
  composes: border;
  border-color: var(--inactive-grey);
  border-width: 1px;
}
