
.time{
    color: var(--medium-blue);
    margin-bottom: 9px;
}

.header{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}


.duplicate{
  margin-top: 12px;
  margin-bottom: 10px;
  composes: text from "../../../app/app.style.module.css";
}
.duplicate:empty{
  margin: 0;
  display: none;
}

.movieSmall{
  user-select: none;
  -webkit-user-select: none;
  background: transparent;
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
  will-change: transform;
  position: relative;
  padding: 12px 0;
  box-sizing: border-box;
}
.movieSmall:last-child{
  padding-bottom: 6px;
}
.movieTitle{
  composes: text from "../../../app/app.style.module.css";
  color: var(--medium-blue);
}

.movieInfo{
  color: #646995;
}


.bookmarkAdd{
  display: flex;
  justify-content: center;
  align-items: center;
  --width: 0;
  width: var(--width);
  right: calc(-1*var(--width) - 16px);
  top:0;
  position: absolute;
  height: 100%;
  color: white;
  background: transparent;
  transition: background .3s ease-out;
}

.bookmarkAddGesture{
  composes: bookmarkAdd;
  background: var(--gray);
}

.bookmarkAddDeleting{
  composes: bookmarkAdd;
  background: var(--chineese-cafe);
}

.bookmarkAddAdding{
  composes: bookmarkAdd;
  background: var(--bonfire-light);
}

.bookmarkDemo:nth-child(3){
  animation: bookmarkDemo infinite 5s;
  transition: transform;
}
.bookmarkDemo:nth-child(3) .bookmarkAdd{
  background: var(--gray);
  --width: 54px !important;
}

@keyframes bookmarkDemo {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
  }

  60% {
    transform: translateX(-54px);
  }

  90% {
    transform: translateX(-54px);
  }
  100% {
    transform: translateX(0);
  }
}

.snack{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  background-color: var(--ins-night);
  border-radius: 24px;
  height: 48px;
  box-sizing: border-box;
  color: var(--electric-blues);
  margin: 21px 0;
  animation: fadeOut ease-out 5s both;
}
@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: .3;
  }
}