.time{
    color: var(--medium-blue);
    margin-bottom: 9px;
}

.header{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}

.subHeader{
    composes: textSmall from "../../../app/app.style.module.css";
}

.duplicate{
  composes: text from "../../../app/app.style.module.css";
}
.duplicate:empty{
  display: none;
}

.movieTitle{
  composes: text from "../../../app/app.style.module.css";
  color: var(--medium-blue);
}

.movieInfo{
  composes: textSmall from "../../../app/app.style.module.css";
  color: #646995;
}
