.form {
  --marign-bottom: 20px;

  display: flex;
  gap: 24px;
  flex-direction: column;
  margin-bottom: calc(var(--marign-bottom) * -1);
}

.field:nth-last-child(2) {
  margin-bottom: 8px;
}

.textField {
  height: 200px;
}

.submitContainer {
  position: sticky;
  bottom: 0px;
  padding: 8px 0 var(--marign-bottom);
  background: var(--cold-white);
}

.tags {
  text-transform: uppercase;
}
