@import "~bulma/sass/helpers/color.sass";

.container {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  gap: .5rem;
  align-items: flex-start;
  padding: 1rem;
  line-height: 1;
  cursor: pointer;

  &:hover:not(:disabled) {
    color: $primary;
  }

  &:disabled {
    cursor: default;
  }
}


.arrow {
  height: 1rem;

}

.arrowBack {
  transform: rotate(180deg);
}
