.cardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.card {
  position: relative;
  user-select: none;
  color: var(--mineral)
}

.cardDisabled {
  background: transparent;
  color: var(--grey);
  border: 1px solid var(--grey);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.noteTitle {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  color: currentColor;
}

.noteText {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  color: currentColor;
}

.bookmarkIcon {
  position: absolute;
  width: 21px;
  height: 24px;
  top: 22px;
  right: 22px;
  color: var(--vivid);
}

.ttlText {
  line-height: 16.71px;
}

.content,
.footer {
  max-width: 100%;
}
