.button{
  padding: 16px;
  border-radius: 24px;
  text-transform: uppercase;
  border: none;
  color: var(--white);
  background-color: grey;
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  gap: 8px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  transition: .3s ease-out;

  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}

.button:hover{
  outline: none;
}
.button:active{
  box-shadow: 0 0 8px rgba(21, 37, 106, 0.6);
}
.button:focus{
  outline: none;
}
.button:disabled{
  filter: opacity(0.3);
}
.selected{
}

.blue{
  background: var(--electric-blues);
  color: var(--white);
}
.disco{
  background: var(--cyber-disco);
}
.frame{
  background: transparent;
  /*background: var(--white);*/
  color: var(--medium-blue);
  border: 2px solid var(--medium-blue);
}
.vivid{
  background: var(--vivid-gradient);
}


.buttonsBar {
  background: transparent;
  display: flex;
  position: fixed;
  pointer-events: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 2;
}
.buttonsBar > * {
  pointer-events: initial;
}

.close{
  font-size: 12px;
  line-height: 14px;
  composes: frame;
  composes: button;
  position: absolute;
  z-index: 2;
  right: 16px;
  top: 14px;
  padding: 11px;
}
.closeWhite{
  composes: close;
  color: var(--cold-white);
  border-color: var(--cold-white);
}

.left{
  left: 16px;
  top: 0;
  bottom: 0;
  flex-direction: column;
}
.right{
  right: 16px;
  top: 0;
  bottom: 0;
  flex-direction: column;
}
.bottom{
  flex-flow: row nowrap;
  bottom: 40px;
  left: 0;
  right: 0;
  gap: 1em;
}

.text{
  border: none;
  width: 100%;
  background: none;
  color: var(--medium-blue);
  /* Button */

  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}
