.button{
  padding: 16px;
  font-size: 12px;
  border-radius: 24px;
  line-height: 14px;
  text-transform: uppercase;
  border: none;
  color: var(--white);
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  gap: 8px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.button:hover{
  outline: none;
}
.button:active{
  outline: none;
}
.button:focus{
  outline: none;
}
.selected{
}

.blue{
  background: var(--electric-blues);
  color: var(--white);
}
.disco{
  background: var(--cyber-disco);
}
.frame{
  background: var(--white);
  color: var(--medium-blue);
  border: solid var(--medium-blue);
}
.vivid{
  background: var(--vivid-gradient);
}


.buttonsBar {
  background: transparent;
  display: flex;
  position: absolute;
  pointer-events: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 2;
}
.buttonsBar > * {
  pointer-events: initial;
}

.close{
  composes: frame;
  composes: button;
  position: absolute;
  z-index: 2;
  right: 16px;
  top: 16px;
}

.left{
  left: 16px;
  top: 0;
  bottom: 0;
  flex-direction: column;
}
.right{
  right: 16px;
  top: 0;
  bottom: 0;
  flex-direction: column;
}
.bottom{
  flex-flow: row nowrap;
  bottom: 56px;
  left: 0;
  right: 0;
  gap: 1em;
}