.pageOnboard{
  min-height: 100%;
  width: 100%;
  background: var(--yellow);
  color: var(--white);
  padding: 104px 16px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  color: var(--ins-night);
  font-family: "Ubuntu Condensed";
}
.pageOnboard > div{
  min-height: 0;
}
.close{
  top: 40px;
  right: 16px;
  border-color: var(--ins-night);
}

.menuBtn{
  width: 100%;
}

.star{
  position: absolute;
  right: 0;
  bottom: 20%;
}

.img1{
  margin-left: -16px;
  margin-bottom: 16px;
  width: 100%;
}
