.pageOnboard{
  height: 100%;
  width: 100%;
  background: var(--ins-night);
  color: var(--white);
  padding: 70px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  position: relative;
}
.pageOnboard > div{
  padding: 40px 0;
  overflow: auto;
  min-height: 0;
}
.close{
  top: 70px;
  right: 16px;
}

.menuBtn{
  composes: menuBtn from "../main/main-page.module.css";
}

.star{
  position: absolute;
  right: 0;
  bottom: 20%;
}

.img1{
  margin-left: -16px;
  margin-bottom: 16px;
  width: 100%;
}
