/* Webfont: PTRootUIWeb-Regular */@font-face {
    font-family: 'PT Root UI';
    src: url('PT_Root_UI_Regular.eot'); /* IE9 Compat Modes */
    src: url('PT_Root_UI_Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('PT_Root_UI_Regular.woff') format('woff'), /* Modern Browsers */
         url('PT_Root_UI_Regular.woff2') format('woff2'), /* Modern Browsers */
         url('PT_Root_UI_Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

