.bookmarkIcon g path {
  fill: var(--cold-white);
}

.poster {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 8px;
}

.plot {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 300;
  color: var(--t-dark-secondary);
}

.meta {
  font-size: 12px;
  color: var(--t-dark-disabled);
  margin-bottom: 8px;
}

.votingHeader {
  padding-right: 40px;
  margin-bottom: 8px;
}

.votingDescription {
  font-weight: 300;
  font-size: 12px;
  color: var(--t-dark-secondary);
}

.votingButton {
  width: 100%;
  margin-top: 8px;
}
