.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    border-radius: 24px;
    max-width: 440px;
    box-sizing: border-box;
    overflow: hidden;
}

.bgPurple{
    background: var(--purple-gradient);
}
.bgWhite{
    background: white;
}

.bgVivid{
  background: var(--vivid-gradient);
}

.border{
    --borderWidth: 2px;
    border: solid var(--borderWidth) transparent;
}
.borderBlue{
    composes: border;
    border-color: var(--medium-blue);
}
.borderVivid{
    border: none;
    position: relative;
    background: var(--vivid-gradient)
}
.borderVivid > *{
  z-index: 1;
}

.borderVivid:before {
     content: '';
     position: absolute;
     top: 0; right: 0; bottom: 0; left: 0;
     z-index: 0;
     border:  dashed 2px var(--cold-white);
     border-radius: 22px;
     background: var(--cold-white)
 }
