.notesHeader {
  margin-bottom: 32px;
}

.rulesPage {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  /* Отступ для абсолютно спозиц. кнопки */
  padding-bottom: 152px;
}

.rulesSecion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rulesSectionTitle {
  text-transform: none;
}

.rulesNextBtn {
  margin-top: auto;
}
