.pageContainer {
  height: 100%;
  max-width: 440px;
  margin: 0 auto;
  background-color: var(--cold-white);
  box-sizing: border-box;
  overflow: scroll;
}

.pageContainerContent {
  min-height: 100%;
  padding-top: 16px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.pageSection {
  padding-right: 16px;
  padding-left: 16px;
}

.pageSection_dark {
  background-color: var(--ins-night);
}
