.form {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.field:nth-last-child(2) {
  margin-bottom: 8px;
}

.textField {
  height: 200px;
}

.submitContainer {
  position: sticky;
  bottom: 0px;
  padding: 8px 0 40px;
  background: var(--white);
}

.tags {
  text-transform: uppercase;
}
