.input {
  composes: text from "../../app/app.style.module.css";
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;
  color: var(--ins-night);
  border: 1px solid var(--ins-night);
  border-radius: var(--radius);
  background: transparent;
}
.input:focus-visible,
.input:focus {
  /*border-color: var(--vivid);*/
  outline: none;
}
.input:invalid {
  border-color: var(--pink);
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--grey);
  opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--grey);
}

.input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--grey);
}

.textarea {
  resize: none;
}
