.element:hover {
  transform: scale(1.4);
  transition: transform ease .3s;
}

:global(.hoverOnly) {
  display: none;
}

.element:hover :global(.hoverOnly) {
  display: initial;
}

.element  text{
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 400;
  font-size: 12em;
  line-height: 12em;
  text-anchor: middle;
}

.selected {
  transform: scale(1.4);
}


:global(.notSelectedOnly) {
  display: initial;
}

.selected :global(.notSelectedOnly)  {
  display: none;
}

:global(.selectedOnly) {
  display: none;
}

.selected :global(.selectedOnly)  {
  display: initial;
}

.selected :global(.hoverOnly) {
  display: initial;
}

.selected .hoverCircle {
  fill: #A226;
}


.zone {
  fill:  rgba(255, 75, 22, 0.25);
  stroke: #FF4B16;
  stroke-width: 3;
  stroke-dasharray: 8;
  vector-effect: non-scaling-stroke;
}

.road{
  stroke: var(--bonfire-light);
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke-width: 1;
  stroke-dasharray: 8 16;
}
