.element:hover {
  transform: scale(1.4);
  transition: transform ease .3s;
}

.hoverOnly {
  display: none;
}

.element:hover .hoverOnly {
  display: initial;
}

.selected {
  transform: scale(1.4);
}

.selectedOnly {
  display: none;
}

.selected .selectedOnly {
  display: initial;
}

.selected .hoverOnly {
  display: initial;
}

.selected .hoverCircle {
  fill: #A226;
}
