.layers {
  position: absolute;
  bottom: 50%;
  right: 3px;
  z-index: 1;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  flex: 1;
}

.search {
  position: absolute;
  top: 0;
  padding: 16px 16px 0 16px;
  z-index: 3;
  width: 100%;
  pointer-events: none;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.search > * {
  pointer-events: initial;
}

.searchOpened {
  composes: search;
  z-index: 10;
  background: white;
}

.close {
  padding-left: 16px;
  align-self: center;
  display: none;
}

.searchOpened .close {
  display: initial;
}

.chips {
  padding: 16px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: auto 0 0;
  overflow-x: scroll;
}

.buttons{
  display: flex;
  position: absolute;
  right: 5px;
  pointer-events: none;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.buttons > button{
  pointer-events: initial;
}

.bottomButtons{
  position: absolute;
  z-index: 1;
  bottom: 56px;
  width: 100vw;
  overflow: visible;
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.bottomButtons > *{
  pointer-events: auto;
}

.chip {
  composes: chip from "../../components/chip/chip.module.css";
  color: #718096;
  border: solid 1px #718096;
  padding: 7px 15px;
}

.chipActive {
  composes: chipActive from "../../components/chip/chip.module.css";
  padding: 8px 16px;
  border: none;
  color: white;
}
