.element:hover {
  transform: scale(1.4);
  transition: transform ease .3s;
}

:global(.hover-only) {
  display: none;
}

.element:hover :global(.hover-only) {
  display: initial;
}

.selected {
  transform: scale(1.4);
}

:global(.selected-only) {
  display: none;
}

.selected :global(.selected-only)  {
  display: initial;
}

.selected :global(.hover-only) {
  display: initial;
}

.selected .hoverCircle {
  fill: #A226;
}
