.container {
  width: 100%;
  height: 100%;
  user-select: none;
  touch-action: none;
}

.img {
  will-change: transform;
  transform-origin: left top;
  pointer-events: none;
  position: absolute;
  max-width: initial;
}

.svg{
  position: absolute;
  overflow: visible;
  z-index: 1;
  width: 100%;
  height: 100%;
  touch-action: none;
}
