.menu {
  position: fixed;
  top: 68px;
  right: 0;
  width: 183px;
  height: 100vh;
  padding-top: 1rem;
  background: #fff;
  z-index: 100;
  text-align: right;
  transform: translateX(100%);
  transition: transform .2s ease-out;
}

.menuIsActive {
  transform: none;
}

.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: transparent;
}
