.password-info{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
#password-constraints{
  margin: 0.5em 0;
  color: #AAA;
}
.toggle-password {
  width: auto;
  -webkit-appearance: none;
  display: flex;
  justify-content: end;
  height: 1.2em;
  outline: none;
  border: 0;
  padding: 0;
  background: transparent;
}
.toggle-password:focus{
  border-bottom: solid .1px;
}
.toggle-password:before {
  content: 'show';
  display: inline-block;
}

.toggle-password:checked:before {
  content: 'hide';
}
