.main {
  composes: colors from "../styles.css";
  height: 100%;
  width: 100%;
}

.loader{
  height: .25em;
  background: blueviolet;
  position: absolute;
  top: 0;
  z-index: 100;
  --percent: 0;
  width: calc(var(--percent) * 1vw);
}

.page{
  padding: 0 16px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 441px){
  .page {
    padding-left: 48px;
    width: 440px;
  }
}

.sh1{
  font-style: normal;
  font-variation-settings: "wght" 690;
  font-size: 24px;
  line-height: 29px;
}

.textSmall{
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 14px;
  line-height: 17px;
}