.main {
  composes: colors from "../styles.css";
  height: 100%;
  width: 100%;
}

.loader{
  height: .25em;
  background: blueviolet;
  position: absolute;
  top: 0;
  z-index: 100;
  --percent: 0;
  width: calc(var(--percent) * 1vw);
}

:global(.page){
  margin: 0 16px;
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (min-width: 441px){
  :global(.page) {
    margin-left: 48px;
  }
}

.colorPink{
  color: var(--pink);
}

:global(.textSmall) {
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 14px;
  line-height: 17px;
  color: #646995;
}
.text{
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--medium-blue);
}

:global(.link){
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  cursor: pointer;
  /* Electric Blues */
  color: #536BF3;

}
:global(.link):after{
  content: ' →';
}

:global(.transition){
  transition: .2s ease;
}

:global(.removing){
  filter: grayscale(1);
  opacity: 0;
}