.main {
  composes: colors from "../styles.css";
  height: 100%;
  width: 100%;
}

:global(.page){
  padding: 50px 16px 100px 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;
  background: var(--cold-white);
  min-height: 100%;
}
:global(.page) > :global(h1){
  color: var(--medium-blue);
}

@media (min-width: 441px){
  :global(.page) {
    margin-left: 48px;
  }
}

:global(.textSmall) {
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 14px;
  line-height: 17px;
}
.text{
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 20px;
  line-height: 24px;
}

:global(.link){
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  cursor: pointer;
  /* Electric Blues */
  color: #536BF3;

}
:global(.link):after{
  content: ' →';
}

:global(.transition){
  transition: .3s ease;
}
:global(.transitionOut){
  transition: .3s ease-out;
}

:global(.removing){
  filter: grayscale(1);
  opacity: 0;
}
:global(.strokeOnly) *{
  fill: none !important;
}
