.main {
  composes: colors from "../styles.css";
  width: 100vw;
  height: 100%;
}

.loader{
  height: .25em;
  background: blueviolet;
  position: absolute;
  top: 0;
  z-index: 100;
  --percent: 0;
  width: calc(var(--percent) * 1vw);
}
