.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field:has(input[type="checkbox"]) {
  flex-direction: row;
  align-items: center;
}

.lable {
  margin-bottom: 16px;
  color: var(--mineral);
}

.field:has(input[type="checkbox"]) .lable {
  margin-bottom: 0;
}

.input {
  margin-bottom: 8px;
  width: 100%;
}

input[type="checkbox"] {
  -ms-transform: scale(1.5)
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
}

.input:last-child {
  margin-bottom: 0;
}

.description {
  color: var(--grey);
}

.tags {
  overflow: scroll;
}
