.tags {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  justify-content: flex-start;
  gap: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  overscroll-behavior-x: auto;
  touch-action: pan-x;
  margin-right: -16px;
  margin-left: -16px;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 8px;
}

.tags::-webkit-scrollbar {
  width: 0;
}

.tag {
  flex-shrink: 0;
  padding: 15px 16px;
  line-height: 16px;
  gap: 8px;
  background: transparent;
  color: var(--mineral);
  border: 1px solid var(--mineral);
  border-radius: var(--radius);
  transition: background 0.3s cubic-bezier(0.35, 0, 0.25, 1),
    color 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.tag svg path {
  fill: var(--mineral);
}

.selectedTag {
  composes: tag;
  background: var(--mineral);
  color: var(--white);
}

.selectedTag svg path {
  fill: var(--white);
}

.tagMin {
  padding: 8px 16px;
}

