.tags {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  justify-content: flex-start;
  gap: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  overscroll-behavior-x: auto;
  touch-action: pan-x;
  margin-right: -16px;
  margin-left: -16px;
  padding: 0 16px;
  color: var(--a-dark-base);
}

.tags::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.tag {
  flex-shrink: 0;
  padding: 12px;
  line-height: 16px;
  gap: 8px;
  background: var(--a-green-base);
  color: var(--a-dark-base);
  border-radius: var(--radius-large);
  transition: background 0.3s cubic-bezier(0.35, 0, 0.25, 1),
    color 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.tag svg path {
  fill: var(--a-dark-base);
}

.selectedTag {
  composes: tag;
  background: var(--a-dark-base);
  color: var(--t-light);
}

.selectedTag svg path {
  fill: var(--white);
}

.tagMin {
  padding: 8px 16px;
}

