.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  /*background: var(--blue);*/
  z-index: 10;
  font-size: 1.4rem;
  bottom: .5em;
  right: .5em;
  flex-flow: column nowrap;
  gap: 1em;
}

/*@media screen and (orientation: landscape){*/
/*  .navbar{*/
/*    right: 0;*/
/*    flex-flow: column nowrap;*/
/*    height: 100vh;*/
/*  }*/
/*}*/

.item{
  --color: #808080;
}

.itemSelected{
  composes: item;
  --color: #A6D020;

}
