.boardListCont {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  width: 100%;
}
