body, html {
  margin: 0;
  border: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
* {
  touch-action: pan-y;
}

.button-clear {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 0;
  --blue: #edf2f7;
  --deep-blue: #42D8;
}


.w-full{
  width: 100%;
}
[flex] {
  display: flex;
}
[flex-grow]{
  flex-grow: 1;
}
[gap] { gap: 4px; }
[gap='2'] { gap: 8px; }
[gap='3'] { gap: 12px; }
[gap='4'] { gap: 16px; }
[gap='5'] { gap: 20px; }
[gap='6'] { gap: 24px; }

[column] {
  flex-direction: column;
}
[center]{
  align-items: center;
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  body {
    font-family: 'SF Pro', 'ui-sans-serif';
  }

  @font-face {
    font-family: 'SF Pro';
    src: local('SF Pro Text Regular'), local('SFProText-Regular'), local("SF Pro");
    font-weight: normal;
    font-style: normal;
  }
}

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */
  body {
    font-family: 'Exo2', 'ui-sans-serif', 'Roboto', 'sans-serif';
  }

  @font-face {
    font-family: 'Exo2';
    src: local('Exo2'), url('/public/fonts/Exo2.woff2') format('woff2');
    /*font-weight: 400 510 590 860;*/
  }
}

@font-face {
  font-family: 'Unbounded';
  src: local('Unbounded'), url('/public/fonts/Unbounded.woff2') format('woff2');
}


h2{
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 16px;
  line-height: 19px;
}
