.snackbar{
    position: absolute;
    font-size: 14px;
    line-height: 20px;
    z-index: 20;
    right: 16px;
    left: 16px;
    top: 10px;
    padding: 16px;
    background: var(--ins-night);
    border-radius: var(--radius);
    color: var(--cold-white);
    transition: top .3s ease-out;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}
.cancel{
    font-family: 'Cygre Black';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--electric-blues);

}

.snackbarHidden{
    composes: snackbar;
    top: -50px;
}
