.badge {
  border-radius: var(--radius);
  padding: 4px 8px;
  width: fit-content;
  align-self: flex-start;

  background: var(--inactive-grey);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.7px;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
}

.badgeLocation {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: var(--electric-blues);
  border-radius: 50%;
}

.badgeAge {
  /* padding-left: 8px;
  padding-right: 10px; */
  color: var(--medium-blue);
}

.badgeAge12 {
  composes: badgeAge;
  background: #BACDFF;
}

.badgeAge18 {
  composes: badgeAge;
  background: #FFC19ECC;
}

.badgeAdv {
  padding: 4px 14px 5px;
}

.badgeChange {
  composes: badgeAdv;
  background: #ff4b16;
}
