.badge {
  border-radius: var(--radius-large);
  padding: 4px 8px;
  width: fit-content;
  align-self: flex-start;

  background: var(--inactive-grey);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.7px;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
}

.badgeLocation {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: var(--mineral);
  border-radius: 50%;
}

.badgeAge {
  color: var(--white);
  background: #00ad9d;
  border: 2px solid #00ad9d;
  border-radius: 999px;
  padding: 2px 8px;
  font-weight: 400;
  line-height: 1.2;
}

.badgeAge6,
.badgeAge12,
.badgeAge16 {
  composes: badgeAge;
}

.badgeAge18 {
  composes: badge;
  color: var(--white);
  background: #e67e6b;
  border: 2px solid #e67e6b;
  border-radius: 999px;
  padding: 2px 8px;
  font-weight: 400;
  line-height: 1.2;
}

.badgeAdv {
  padding: 4px 14px 5px;
}

.badgeChange {
  composes: badgeAdv;
  background: #ff4b16;
}
