.activityCard{
  will-change: transform;
  position: relative;
  user-select: none;
}

.card {
  position: relative;
  user-select: none;
  color: var(--mineral)
}

.cardDisabled {
  background: transparent;
  color: var(--grey);
  border: 1px solid var(--inactive-grey);
}

.activityContainer {
  width: 100%;
}

.activityDescription {
  max-height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activityTimePlace {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.activityPlace {
  max-width: 178px;
  color: var(--mineral);
}

.activityPlaceCanceled {
  composes: activityPlace;
  color: var(--inactive-grey);
}

.activityTime {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--mineral);
}

.activityTimeCanceled {
  composes: activityTime;
  color: var(--inactive-grey);
}

.headerContainer {
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.header {
  width: 100%;
}

.headerCanceled {
  composes: header;
  color: var(--grey);
}

.bookmarkIcon {
  position: absolute;
  width: 14px;
  height: 16px;
  top: 22px;
  right: 22px;
  color: var(--pink);
}
