.borderRadius {
  border-top-right-radius: calc(var(--border-radius) * 1px);
  border-bottom-right-radius: calc(var(--border-radius) * 1px);
}

.wrapperBordered {
  --border-radius: 0;
  composes: borderRadius;
  overflow: hidden;
}

.container {
  position: relative;
  will-change: transform;
}

.contentWrapper {
  composes: borderRadius;
  position: relative;
  background-color: var(--cold-white)
}

.bookmarkAdd {
  --width: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  padding-left: calc(var(--border-radius) * 1px);
  right: calc(-1 * var(--width));
  top: 0;
  height: 100%;
  color: white;
  background: transparent;
  transition: background .3s ease-out;
  z-index: -1;
}

.bookmarkAddGesture {
  composes: bookmarkAdd;
  background: var(--grey);
}

.bookmarkAddDeleting {
  composes: bookmarkAdd;
  background: var(--grey2);
}

.bookmarkAddAdding {
  composes: bookmarkAdd;
  background: var(--vivid);
}

.wrapperDemo:nth-child(3) .container {
  animation: bookmarkDemo 5s;
  transition: transform;
}

.wrapperDemo:nth-child(3) .bookmarkAdd {
  background: var(--grey);
  --width: 54px !important;
}

@keyframes bookmarkDemo {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
  }

  60% {
    transform: translateX(-54px);
  }

  90% {
    transform: translateX(-54px);
  }
  100% {
    transform: translateX(0);
  }
}
