body, html {
  margin: 0;
  border: 0;
  overflow: hidden;
  -webkit-tap-highlight-color:transparent
}

.button-clear {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

.w-full{
  width: 100%;
}
.h-full{
  height: 100%;
}
[flex] {
  display: flex;
}
[flex-grow]{
  flex-grow: 1;
}
[gap] { gap: 4px; }
[gap='0'] { gap: 0; }
[gap='2'] { gap: 8px; }
[gap='3'] { gap: 12px; }
[gap='4'] { gap: 16px; }
[gap='5'] { gap: 20px; }
[gap='6'] { gap: 24px; }
[gap='8'] { gap: 32px; }
[gap='10'] { gap: 40px; }

[column] {
  flex-direction: column;
}
[center]{
  align-items: center;
}
[nowrap]{
  flex-wrap: nowrap;
}

body {
  font-family: 'Ubuntu Mono', 'monospace';
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: local('Ubuntu Mono'), local('UbuntuMono'), local("Ubuntu Mono Regular"), url('/public/fonts/UbuntuMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: local('Ubuntu Mono Bold'), local('UbuntuMonoBold'), url('/public/fonts/UbuntuMono-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: local('Ubuntu Mono Italic'), local('UbuntuMonoItalic'), url('/public/fonts/UbuntuMono-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu Condensed';
  src: local('Ubuntu Condensed'), local('UbuntuCondensed'), local("Ubuntu Condensed Regular"), url('/public/fonts/UbuntuCondensed-Regular.ttf');
}

@font-face {
  font-family: 'MxPlus IBM EGA';
  src: url('/public/fonts/WebPlus_IBM_EGA_8x14.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}
