body {
  --electric-blues: #008DE3;
  --ch-orange: #EC7324;
  --bonfire-light: #fda631;
  --ins-night: #061E35;
  --medium-blue: #062C4E;
  --cyber-disco: #FB84B7;
  --pink: #ff6e76;
  --yummy-green: #60D67A;
  --calm-blue: #45D2F1;
  --cold-white: #f7fcff;
  --white: #fff;
  --black: #000;
  --purple: #763aff;
  --gray: #647B95;
  --inactive-grey: #a0a5d1;
  --light-orange: #fac5c0;
  --lavand: #cfbaff;
  --vivid: #2770B4;
  --vivid-gradient: radial-gradient(
      87.66% 151.93% at 19.01% 12.34%,
      #ff6d76 32.81%,
      #4b6bf8 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  --purple-gradient: radial-gradient(
      100% 613.64% at 4.04% 0%,
      #d8eef4 0%,
      rgba(211, 184, 255, 0.46) 93.3%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  --menu-gradient: linear-gradient(
    253.29deg,
    #fe4ba9 38.17%,
    #ff6e76 62.03%,
    #ffc576 89.64%
  );
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  --soft-gradient2: radial-gradient(
    100% 613.64% at 4.04% 0%,
    rgba(255, 180, 216, 0.4) 0%,
    rgba(232, 202, 146, 0.3) 100%);

  --soft-gradient: radial-gradient(
    100% 613.64% at 4.04% 0%,
    #D7E3F4 0%,
    rgba(184, 204, 255, 0.46) 93.3%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;


  --radius: 24px;
}

.pinkShadow {
  background: #d9d9d9;
  box-shadow: 0px 4px 12px rgba(248, 192, 194, 0.14),
    -4px -4px 12px rgba(248, 192, 194, 0.14),
    0px 4px 12px rgba(248, 192, 194, 0.14);
}

.softGradient {
  background: radial-gradient(
      100% 613.64% at 4.04% 0%,
      #d8eef4 0%,
      rgba(211, 184, 255, 0.46) 93.3%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.bgInsNight {
  background: var(--ins-night);
}
.colorInsNight {
  color: var(--ins-night) !important;
}
.colorPink {
  color: var(--pink) !important;
}
.colorDisco {
  color: var(--cyber-disco) !important;
}
.colorGray {
  color: var(--gray) !important;
}
.colorInactiveGrey {
  color: var(--inactive-grey);
}
.colorOrange {
  color: var(--ch-orange) !important;
}
.colorMediumBlue {
  color: var(--medium-blue) !important;
}
.colorElectricBlues {
  color: var(--electric-blues);
}
.colorMenu {
  color: var(--menu-gradient);
}
.colorVivid {
  color: var(--vivid) !important;
}
.colorPurple {
  color: var(--purple) !important;
}
.colorWhite {
  color: var(--cold-white) !important;
}
.colorElBlue {
  color: var(--electric-blues) !important;
}
.colorInherit {
  color: inherit !important;
}
.unbounded {
  font-family: "Cygre Black";
}
h1 {
  font-family: "Cygre Black";
  font-style: normal;
  font-weight: initial;
  font-variation-settings: "wght" 900;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  /*margin-bottom: 8px;*/
}

h2 {
  /*color: var(--medium-blue);*/
  font-family: "Cygre Black";
  font-style: normal;
  font-weight: initial;
  font-variation-settings: "wght" 900;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  margin: 0;
  color: var(--medium-blue);
  font-style: normal;
  font-weight: 860;
  font-size: 18px;
  line-height: 21px;
}

.sh1 {
  color: var(--medium-blue);
  font-style: normal;
  font-variation-settings: "wght" 590;
  font-weight: 590;
  font-size: 24px;
  line-height: 29px;
}

.sh2 {
  font-style: normal;
  font-variation-settings: "wght" 590;
  font-weight: 590;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
}
.sh3 {
  font-style: normal;
  font-variation-settings: "wght" 510;
  font-weight: 510;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  display: flex;
  align-items: flex-end;
}
.text {
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 20px;
  line-height: 24px;
}

.textSmall {
  color: var(--medium-blue);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.7px;
}

.tags {
  font-style: normal;
  font-weight: 510;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: flex-end;
}

mark {
  background: initial;
  color: var(--cyber-disco);
}

.colorChineeseCaffe {
  color: var(--ch-orange);
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 32px;
}

ul:not(.styledList) {
  list-style: none;
  padding: 0;
}

ol li:not(:last-child) {
  margin-bottom: 20px;
}
ul.disc {
  list-style: none;
  padding-left: 12px;
}
ul.disc li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  margin: 10px 0;
}
ul.disc li:before {
  content: "•";
  font-size: 20px;
}

b {
  font-variation-settings: "wght" 640;
}
