body {
  --mineral: #3C8583;
  --bonfire-light: #fda631;
  --ins-night: #28130E;
  --medium-blue: #062C4E;
  --cyber-disco: #FB84B7;
  --pink: #ff6e76;
  --yummy-green: #60D67A;
  --calm-blue: #45D2F1;
  --cold-white: #FDFCF7;
  --white: #fff;
  --black: #000;
  --purple: #763aff;
  --grey: #BFB79F;
  --grey2: #4F4038;
  --inactive-grey: #a0a5d1;
  --light-orange: #fac5c0;
  --lavand: #cfbaff;
  --vivid: #8E1F1E;
  --pale: #EAE8CD;
  --yellow: #D5B22A;
  --soft: #F1F7F6;
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  --purple-gradient: radial-gradient(
      100% 613.64% at 4.04% 0%,
      #d8eef4 0%,
      rgba(211, 184, 255, 0.46) 93.3%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  --menu-gradient: linear-gradient(
    253.29deg,
    #fe4ba9 38.17%,
    #ff6e76 62.03%,
    #ffc576 89.64%
  );

  --gradient: linear-gradient(
      to-right,
    #D5B22A 0%,
    #8E1F1E 100%
  );

  --radius: 28px;
}

.pinkShadow {
  background: #d9d9d9;
  box-shadow: 0px 4px 12px rgba(248, 192, 194, 0.14),
    -4px -4px 12px rgba(248, 192, 194, 0.14),
    0px 4px 12px rgba(248, 192, 194, 0.14);
}

.softGradient {
  background: radial-gradient(
      100% 613.64% at 4.04% 0%,
      #d8eef4 0%,
      rgba(211, 184, 255, 0.46) 93.3%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.bgInsNight {
  background: var(--ins-night);
}
.colorInsNight {
  color: var(--ins-night) !important;
}
.colorPink {
  color: var(--pink) !important;
}
.colorDisco {
  color: var(--cyber-disco) !important;
}
.colorGrey {
  color: var(--grey) !important;
}
.colorInactiveGrey {
  color: var(--inactive-grey);
}
.colorMediumBlue {
  color: var(--mineral) !important;
}
.colorElectricBlues {
  color: var(--mineral);
}
.colorMenu {
  color: var(--menu-gradient);
}
.colorVivid {
  color: var(--vivid) !important;
}
.colorPurple {
  color: var(--purple) !important;
}
.colorWhite {
  color: var(--cold-white) !important;
}
.colorElBlue {
  color: var(--mineral) !important;
}
.colorYellow {
  color: var(--yellow) !important;
}
.colorMineral {
  color: var(--mineral) !important;
}
.colorGradient {
  background-image: linear-gradient( to right, #D5B22A, #8E1F1E);
  background-clip: text;
  color: transparent;
}
.colorGrey {
  color: var(--grey) !important;
}
.colorGrey2 {
  color: var(--grey2) !important;
}
.colorInherit {
  color: inherit !important;
}
.unbounded {
  font-family: "Cygre Black";
}
h1 {
  font-family: "MxPlus IBM EGA";
  font-style: normal;
  font-weight: initial;
  font-variation-settings: "wght" 900;
  font-size: 46px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  /*color: var(--mineral);*/
  font-family: "MxPlus IBM EGA", sans-serif;
  font-style: normal;
  font-weight: initial;
  font-variation-settings: "wght" 900;
  font-size: 34px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}

h3 {
  margin: 0;
  color: var(--mineral);
  font-style: normal;
  font-weight: 860;
  font-size: 18px;
  line-height: 21px;
}

.sh1 {
  font-family: "Ubuntu Mono", monospace;
  color: var(--ins-night);
  font-style: normal;
  font-variation-settings: "wght" 590;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.sh2 {
  font-family: "Ubuntu Mono", monospace;
  font-style: normal;
  font-variation-settings: "wght" 590;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
}
.sh3 {
  font-family: "Ubuntu Mono", monospace;
  font-style: normal;
  font-variation-settings: "wght" 510;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  display: flex;
  align-items: flex-end;
}
.text {
  font-family: "Ubuntu Condensed", sans-serif;
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 20px;
  line-height: 24px;
}

.textSmall {
  font-family: "Ubuntu Mono", monospace;
  color: var(--mineral);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.7px;
}

.tags {
  font-family: "Ubuntu Mono", monospace;
  font-style: normal;
  font-weight: 510;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: flex-end;
}

mark {
  background: initial;
  color: var(--cyber-disco);
}

.colorChineeseCaffe {
  color: var(--vivid);
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 32px;
}

ul:not(.styledList) {
  list-style: none;
  padding: 0;
}

ol li:not(:last-child) {
  margin-bottom: 20px;
}
ul.disc {
  list-style: none;
  padding-left: 12px;
}
ul.disc li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  margin: 10px 0;
}
ul.disc li:before {
  content: "•";
  font-size: 20px;
}

b {
  font-variation-settings: "wght" 640;
}

.fontCondensed {
  font-family: "Ubuntu Condensed", sans-serif;
}
