@import "~bulma"
@import "~@mdi/font"

body, html
  margin: 0
  border: 0
  height: 100%
  overflow: hidden
  overscroll-behavior: contain

.button-clear
  margin: 0
  padding: 0
  background: none
  border: none
  border-radius: 0

#root
  height: 100%
  display: flex
  flex-direction: column
  min-height: 0
