.button {
  /* button */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;

  /* shades/white */
  background: transparent;
  color: #485FC7;

  border-radius: 7.5px;
  border: solid .1px;
  cursor: pointer;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
