.colors {
    --electric-blues: #536BF3;
    --chineese-cafe: #FF4B16;
    --bonfire-light: #FDA631;
    --ins-night: #0C1035;
    --medium-blue: #1C2573;
    --cyber-disco: #FE4BA9;
    --pink: #F2888C;
    --new-pink: #FF6E76;
    --cold-white: #F7FCFF;
    --white: #FFF;
    --black: #000;
}

.vividGradient{
  background: radial-gradient(87.66% 151.93% at 19.01% 12.34%, #FF6D76 32.81%, #4B6BF8 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.purpleGradient{
    background: radial-gradient(100% 613.64% at 4.04% 0%, #D8EEF4 0%, rgba(211, 184, 255, 0.46) 93.3%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.pinkShadow{
    background: #D9D9D9;
    box-shadow: 0px 4px 12px rgba(248, 192, 194, 0.14), -4px -4px 12px rgba(248, 192, 194, 0.14), 0px 4px 12px rgba(248, 192, 194, 0.14);
}

.softGradient{
  background: radial-gradient(100% 613.64% at 4.04% 0%, #D8EEF4 0%, rgba(211, 184, 255, 0.46) 93.3%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}


.h1{
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.h2{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
