.tags {
  display: flex;
  justify-content: space-between;
}
.chips::-webkit-scrollbar{
  display: none;
}

.tag {

}

.tagSelected {
  composes: tag;
}

.schedule {
  display: grid;
  grid: auto / 60px auto;
  padding: 16px 0;
}

header {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  padding-bottom: 4px;
  letter-spacing: -0.01em;
}

.time {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-row: 1 / span 2;
  grid-column: 1;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

.timeCanceled{
  composes: time;
  font-size: 12px;
}

.name {
  grid-row: 1;
  grid-column: 2;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  display: flex;
  gap: 20px;
  height: 20px;
}

.changes {
  display: none;
}

.name:hover .changes {
  display: initial;
}

.descr {
  grid-row: 2;
  grid-column: 2;
  font-size: 12px;
  line-height: 150%;
  border-bottom: #F2F2F2 solid 1px;
}

.info{
  grid-column: 1 / span 2;
  height: 5em;
  background: #AAA;
  width: 100%;
}
