.pageOnboard{
  height: 100%;
  width: 100%;
  background: var(--ins-night);
  color: var(--white);
  padding: 70px 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.menuText{
  background: linear-gradient(253.29deg, #FE4BA9 38.17%, #FF6E76 62.03%, #FFC576 89.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.menuBtn{
  composes: menuBtn from "../main/main-page.module.css";
}

.star{
  position: absolute;
  right: 0;
  bottom: 20%;
}

.img1{
  position: absolute;
  width: 173.53px;
  height: 221.55px;
  left: 0;
  top: -10px;
  transform: rotate(2deg);
}
