.page{
  height: 100%;
  width: 100%;
  background: var(--ins-night);
  color: var(--white);
  padding: 70px 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.fireboyWrap{
  flex: 1;
  height: calc(100% - 260px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}
.fireboy{
  max-height: 100%;
  max-width: 100%;
}

.menuText{
  background: linear-gradient(253.29deg, #FE4BA9 38.17%, #FF6E76 62.03%, #FFC576 89.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.menuBtn{
  composes: menuBtn from "../main/main-page.module.css";
}
