name: Docker Build

on:
  push:
    branches:
      - 'master'

env:
  CLUSTER_NAME: InsightKube
  CLUSTER_RESOURCE_GROUP: Insight
  DEPLOYMENT_MANIFEST_PATH: |
    ./.deploy/prod/kubernetes.yaml
jobs:
  build:
    runs-on: [ubuntu-latest]
    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v3

      - name: substitute GITHUB_SHA in docker
        working-directory: ./.deploy/prod
        run: |
          sed -i s/GITHUB_SHA/${GITHUB_SHA}/g ./docker-compose.yml

      - name: build docker
        working-directory: ./.deploy/prod
        run: docker compose build

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: push docker
        working-directory: ./.deploy/prod
        run: docker compose push

